

body{
    background-image: url("/181524.jpg");
    width: 1400px;
    margin: 0 auto;
}

h1{
    text-align: center;
    right: 200px;
}

.wrapper {
  text-align: center;
  font-size: 20px;
  color: #1E1E1E;
  background-color: #1E1E1E;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: solid black 1px;
}
.wrapper ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.wrapper li {
  float: left;
  padding: 20px 25px;
}

.wrapper a:hover{
  color: grey;
}

.wrapper a{

  color: white;

}

footer{
    display: inline-block;
    background-color: gray;
    position: absolute;
    bottom: 0;
    width:100%;
    padding:0;
}

b{
    display: inline;
    color: white;
    
}
br {
    display: inline;
    color: white;
}